.back-link{
    display: flex;
    align-items: center;
    margin: 30px 15px 5px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.orderDetails-container{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin: 10px 90px 75px;
    padding: 15px;
    border-radius: 12px;
    border-bottom: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
}

.orderDetails-container h2{
    text-align: center;
}

.orderDetails-container h3{
    margin: 10px 0;
}

.order-data ul{
    list-style-type: none;
    padding-left: 0;
    display: flex;
    gap: 15px;
}

.order-data ul li {
    height: 30px;
    border: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 5px;
}

.order-product{
    width: 100%;
    height: 200px;
    border-bottom: 1px solid var(--border-color);
    box-sizing: border-box;
    padding: 10px;
    display: flex;
}

.order-product .image{
    min-width: 200px;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.order-product .right-side{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 5px;

    & .price{
        width: fit-content;
        margin: 0 0 0 auto;
    };

    & .discount-price-container{
        width: fit-content;
        margin-left: auto;
    }
}

.order-product .right-side .top-side{
    width: 80%;

    & h3{
        margin: 0;
        max-height: 44px;

        &:hover{
            text-decoration: underline;
            cursor: pointer;
        }
    }

    & p {
        margin: 5px 0;
        font-size: 14px;
        color: rgba(59, 59, 59, 0.58);
    }
}

.order-product .right-side .bottom-side{
    margin-left: auto;
}

.cancel-button{
    width: 200px;
    height: 35px;
    background-color: #fff;
    margin-left: auto;
    margin-top: 10px;
    border: 1px solid rgba(255, 0, 0, 0.484);
    border-radius: 8px;
    color: black;
    transition: .2s;
}

.cancel-button:hover{
    background-color: rgb(255, 0, 0);
    color: #fff;
}

@media (max-width: 1000px) {
    .order-product .right-side .top-side{
        width: 100%;
    }
}

@media (max-width: 768px) {
    .orderDetails-container{
        margin: 5px 15px;
    }
}

@media (max-width: 550px) {
    .orderDetails-container{
        margin: 0;
    }

    .order-data ul {
        flex-direction: column;

        & li{
            border: none;
            border-bottom: 1px solid var(--border-color);
        }
    }

    .order-product{
        height: fit-content;
        min-height: 350px;
        flex-direction: column;

        & .image {
            min-height: 150px;
            margin-bottom: 10px;
        }

        & .right-side {
            width: auto;

            & .top-side h3{
                max-height: none;
            }
        }
    }
}




@media (min-width: 2000px) {
    .orderDetails-container{
        margin: 10px auto 75px;
        display: grid;
        place-items: center;
    }

    .order-products{
        width: fit-content;
    }

    .order-product{
        max-width: 1250px;
    }
}