.productPage-container{
    padding: 25px 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
}

.mainContent{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25px;
}

.productPage-container__leftSide{
    min-width: 400px;
    min-height: 400px;
    margin-right: 25px;
    display: grid;
    place-items: center;
    background-color: #fff;
}

.productPage-container__leftSide img {
    max-height: 100%;
    max-width: 100%;
}

.memoryButtons button{
    width: 100px;
    height: 35px;
    margin-right: 5px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid rgb(169, 169, 169);
    cursor: pointer;
    transition: 0.2s;
}

.memoryButtons button:hover{
    border-color: black;
}

.mainContent .info {
    max-width: 700px;
}

.info .description{
    font-size: 1.2rem;
}

.info .price{
    font-size: 28px;
}

.buyOptions{
    border: 1px solid rgb(169, 169, 169);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 15px 20px;
}

.buyOptionsButtons{
    display: flex;
    justify-content: end;
    padding-right: 5px;
    width: 100%;
}

.cart-button{
    width: 165px;
    height: 40px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: rgb(65, 141, 65);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 0 20px 0 15px;
    transition: 0.2s;
}

.cart-button::before{
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    background: url(../../assets/output-onlinepngtools-removebg-preview.png);
    background-position: center;
    background-size: 25px;
    background-repeat: no-repeat;
}

.credit-button{
    width: 165px;
    height: 40px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid green;
    cursor: pointer;
    font-size: 18px;
    transition: 0.2s;
}

.credit-button:hover{
    background-color: #209500;
    color: white
}

.credit-button:active{
    background-color: #114f00;
}

.cart-button:hover{
    background-color: rgb(2, 168, 2);
}

.cart-button:active{
    background-color: rgb(0, 100, 0);
}

.discount-button{
    width: 165px;
    height: 40px;
    margin-left: 10px;
    border-radius: 10px;
    border: 1px solid rgb(255, 170, 0);
    background-color: transparent;
    font-size: 18px;
    transition: 0.2s;
}

.discount-button:hover{
    color: white;
    background-color: #fea622;
}

.discount-button:active{
    background-color: #a96800;
}

.delete-button{
    width: 165px;
    height: 40px;
    margin-left: 10px;
    border-radius: 10px;
    border: 1px solid rgb(255, 0, 0);
    background-color: transparent;
    font-size: 18px;
    transition: 0.2s;
}

.delete-button:hover{
    border: none;
    color: white;
    background-color: #cb0000;
}

.productPage-container details{
    width: 165px;
    height: 40px;
    margin-left: 10px;
    border-radius: 10px;
    border: 1px solid rgb(255, 170, 0);
    background-color: transparent;
    font-size: 18px;
    transition: 0.2s;
}

.similar-offers{
    width: 100%;
}

.detailedDescription{
    margin-bottom: 15px;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
}

.detailedDescription h2{
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.detailedDescription__list{
    list-style: none;
    padding-left: 15px;
    font-size: 1.2rem;
    margin: 5px 0;
}

.detailedDescription__list li{
    display: flex;
    margin-bottom: 10px;
    color: #5a5a5a;
    text-overflow: ellipsis;
}

.detailedDescription__list .characteristic{
    width: 400px;
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 10px;
    background-color: #fff;
}

.detailedDescription__list .characteristic p {
    margin: 0;
    background-color: #fff;
    z-index: 10;
    padding-right: 10px;
}

.detailedDescription__list .characteristic-value{
    width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.detailedDescription__list .characteristic::after{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    border: 1px dotted var(--border-color);
}

@media (max-width: 1150px) {
    .buyOptionsButtons button{
        width: 33.3%;
    }
}

@media (max-width: 1050px) {
    .productPage-container__leftSide{
        min-height: 250px;
    }

    .buyOptions{
        flex-direction: column;
        align-items: stretch;
        padding: 15px 20px 20px 20px;
    }

    .buyOptionsButtons{
        flex-direction: column;
        width: auto;
    }

    .buyOptionsButtons button{
        width: 100%;
        margin: 10px 0 0 0;
    }
    
}

@media (max-width: 900px) {
    .mainContent{
        flex-direction: column;
        align-items: center;
    }

    .info{
        width: 100%;
    }
}

@media (max-width: 550px) {
    .productPage-container{
        margin: 0;
        padding: 5px;
    }

    .productPage-container__leftSide{
        min-width: 250px;
        margin: 0 0 15px 0;
        padding: 0;
    }

    .title{
        font-size: 24px;
    }

    .info .description{
        font-size: 1.1rem;
    }
}

@media (max-width: 400px) {
    .buyOptions{
        padding: 5px 10px;
    }
}