
.recentlyViewed-container .glider-contain{
    margin: 0;
}

.recentlyViewed-container .glider-slide {
    width: 175px !important
}

.recentlyViewed-container .glider-track{
    width: 100% !important
}

