.editProfileForm{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 15px;
    border: 1px solid black;
}

.editProfileForm span{
    margin-bottom: 5px;
}

.editProfileForm input{
    height: 37.5px;
    margin: 0 0 25px 0;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.200);
    border-radius: 10px;
    padding-left: 10px;
    font-size: 1.02rem;
    box-sizing: border-box;
    transition: 50ms;
}

.editProfileForm input:focus {
    outline: none;
    border: 1.5px solid black;
}

.editProfileForm label{
    width: fit-content;
    cursor: pointer;
    transition: 0.1s;
}

.editProfileForm button{
    width: 150px;
    height: 35px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    margin-left: auto;
    background-color: #f3f3f3;
    font-size: 16px;
    font-weight: 500;
    transition: 0.2s;
}

.editProfileForm button:hover{
    background-color: #ccc;
}

@media (max-width: 1100px) {
    .editProfileForm{
        margin-top: 15px;
    }   
}

@media (max-width: 400px) {
    .editProfileForm{
        padding: 5px;
        border: none;
    }
}