.mainPage-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.glider-div{
    /* background-color: #bcbabe; */
    max-width: 1050px;
    min-width: 150px;
    padding: 5px 5px 5px 5px;
    margin: 0 15px 50px 0;
}

.glider-slide{
    min-width: 175px !important;
    max-width: 175px !important;
}

.draggable{
    cursor: default !important;
}

.glider-slide:first-child{
    border: none;
}

.active-filters{
    margin: 20px 0 20px 0;
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
}

.active-filters form {
    display: flex;
    align-items: center;
}

.active-filters form select {
    border-radius: 8px;
    height: 100%;
}

.active-filters form .select-button{
    height: 35px;
    width: 35px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 0;
    margin-left: 2px;
    background-color: #ffffff;
    font-size: 24px;
    text-align: center;
    line-height: 100%;
}

.items-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.active-filters .active-filters__button{
    width: 100px;
    height: 35px;
    border: none;
    background-color: #bcbabe;
    text-align: start;
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    transition: 0.2s;
}

.active-filters .active-filters__button::after {
    content: "";
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #ccc;
    cursor: pointer;
}

.active-filters .active-filters-button:hover {
    background-color: #cac9cb;
}

.sections-h{
    text-align: center;
}

@media (max-width: 1150px) {
    .items-div{
        width: 700px;
    }
}

@media (max-width: 1200px) {
    .items-div{
        max-width: 900px;
    }
}

@media (max-width: 970px) {
    .items-div{
        max-width: 570px;
    }
}

@media (max-width: 950px) {
    .mainPage-container{
        justify-content: center;
        padding-left: 20px;
    }
    .items-div{
        max-width: 700px;
    }
}

@media (max-width: 785px) {
    .items-div{
        max-width: 800px;
    }
    .active-filters{
        padding: 0;
    }
}