.mainPage-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.glider-div{
    /* background-color: #bcbabe; */
    max-width: 700px;
    min-width: 150px;
    padding: 5px 5px 5px 5px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.glider-slide{
    /* border-left: 1px solid rgb(0, 0, 0) */
}

.glider-slide:first-child{
    border: none;
}

.active-filters{
    margin: 20px 0 20px 0
}

.items-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    margin-bottom: 50px;
}

.active-filters button{
    width: 100px;
    height: 35px;
    border: none;
    background-color: #bcbabe;
    text-align: start;
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    transition: 0.2s;
}

.active-filters button::after {
    content: "";
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #ccc;
    cursor: pointer;
}

.active-filters button:hover {
    background-color: #cac9cb;
}

@media (max-width: 1200px) {
    .items-div{
        width: 800px;
    }
}

@media (max-width: 970px) {
    .items-div{
        width: 570px;
    }
}