   
.cartItem-container{
    max-width: 100%;
    height: 150px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.349);
    background-color: #fff;
    display: flex;
}

.cartItem-container:last-child{
    border: none;
}

.cartItem-container .left-side{
    height: 100%;
    width: 50%;
    display: flex;
    padding: 15px;
    position: relative;
    display: flex;
    justify-content: start;
    box-sizing: border-box;
}

.left-side__image{
    width: 150px; 
    min-height: 100px; 
    max-height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 20px;
}

.left-side__title{
    height: 25px;
    color: black;
    text-decoration: none;
}

.left-side__title:hover{
    text-decoration: underline;
    color: rgb(255, 52, 52);
}

.right-side__delete-button{
    width: 30px;
    height: 30px;
    background-image: url('../../assets/trash-can.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    border-radius: 7px;
    transition: 0.2s;
}

.right-side__delete-button:hover{
    background-color: #bfbfbf;
}

.cartItem-container .right-side{
    width: 50%;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-around;
}

.amount-price{
    display: flex;
    align-items: center;
}

.right-side .amount{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.amount-button{
    width: 30px;
    height: 30px;
    border-radius: 7px;
    border: none;
    margin: 0 10px 0 10px;
    font-size: 24px;
}