.section-container{
    border-top: 1px solid #3131318c;
}

.section-container:first-child, .section-container:first-child .section-title{
    border: none;
    margin-top: 0;
}

.section-title{
    padding-left: 5px;
    margin-bottom: 10px;
    min-height: 50px;
    cursor: pointer;
    transition: .2s;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.section-title h2 {
    margin: 0;
}

.section-title:hover{
    background-color: #eee;
}

.questions-container{
    display: none;
}