:root{
    --border-color: rgba(0, 0, 0, 0.250);
}

.cart-container{
    background-color: #fff;
    padding: 10px 100px;
}

.cart-container h1 {
    text-align: center;
    margin: 15px 0 5px 0;
}

.cart-container__items{
    min-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.cart-container .item-card{
    margin: 5px;
    border: none;
}

.cart-container__info{
    margin-left: auto;
    width: 300px;
}

.cart-container__info progress{
    width: 100%;
}

.cart-container__info p {
    margin-bottom: 0;
}

.cart-container__info button{
    width: 100%;
    height: 40px;
    margin-top: 10px;
    border: none;
    background-color: #000;
    color: #fff;
    font-size: 16px;

    &:hover{
        cursor: pointer;
    }
}

.cart-container__info .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* font-size: 18px; */
    height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.250);
}

.cart-container__info .item:last-child{
    border: none;
}

.cart-container__info .item:last-child{
    font-size: 24px;
}

@media (max-width: 799px) {
    .cart-container{
        padding: 10px 0;
    }

    .cart-container__info{
        max-width: 300px
    }
}

@media (max-width: 600px) {
    .cart-container__items{
        padding: 10px;
    }

    .cart-container h1{
        font-size: 1.4rem;
        margin-bottom: 15px;
    }
}