.editProfileForm{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: rgb(255, 255, 255);
}

.editProfileForm span{
    margin-top: 10px;
}

.editProfileForm input{
    height: 25px;
    margin-bottom: 25px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid black;
}

.editProfileForm input:focus {
    outline: none;
    border-bottom: 1px solid rgb(0, 136, 18);
}

.editProfileForm textarea {
    resize: none;
    height: 25px;
    margin-bottom: 25px;
    border: none;
    font-family: sans-serif;
    background-color: transparent;
    border-bottom: 1px solid black;
}

.editProfileForm textarea:focus {
    outline: none;
    border-bottom: 1px solid rgb(0, 136, 18);
}

.editProfileForm label{
    width: fit-content;
    cursor: pointer;
}

.editProfileForm label:hover{
    text-decoration: underline;
}

.editProfileForm button{
    width: 125px;
    height: 35px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    margin-left: auto;
    background-color: #f3f3f3;
    font-size: 16px;
    font-weight: 500;
    transition: 0.2s;
}

.editProfileForm button:hover{
    background-color: #ccc;
}