.sidebar_container{
    width: 250px;
    min-width: 150px;
    background-color: #bcbabe;
    margin-right: 50px;
}

.sidebar_container ul {
    list-style: none;
    padding: 0 5px 5px 5px;
}

.sidebar_container ul li {
    padding: 0 0 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}

.sidebar_container input {
    display: none;
}

.sidebar_container ul li:hover{
    background-color: rgb(82, 82, 82);
    color: #f3f3f3;
}

.image_replacement{
    width: 17.5px;
    height: 17.5px;
    background: white;
    margin: 5px 5px 5px 0;
}