.sidebar-container{
    background-color: #fff;
    margin-right: 20px;
    border-right: 1px solid var(--border-color);
    position: relative;
    transition: .2s;
}

.sidebar-content{
    width: 250px;
    transition: .2s;
    padding: 0 10px;
    overflow: hidden;
}

.burger-checkbox:checked ~ .sidebar-content{
    /* transform: translate(-260px); */
    width: 0;
    padding: 0;
}

.sidebar-container .list {
    list-style: none;
    padding: 0 5px 5px 5px;
    margin-top: 5px;
}

.sidebar-container .list li {
    padding-left: 10px;
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: .1s linear;
    font-size: 18px;
    transform-origin: left;
}

.sidebar-container input {
    display: none;
}

.sidebar-container .list:hover li{
    opacity: 0.3;
}

.sidebar-container .list li:hover{
    opacity: 1;
    scale: 1.2;
}

.sidebar-container h3 {
    margin: 5px 0 0 5px;
}

.image_replacement{
    width: 17.5px;
    height: 17.5px;
    background: white;
    margin: 5px 5px 5px 0;
}

.download-links{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    padding: 10px 0 10px 0;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.download-links h4{
    margin: 0;
    font-weight: 600;
}

.store-logos{
    margin: 0 auto 0 auto;
    display: flex;
    width: 95%;
    height: 50px;
    justify-content: space-between;
}

.sideBar-logo{
    display: block;
    width: 49%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.2s;
}

.appStore{
    background-image: url('../../assets/appStoreLogo_black.svg');
}

.logo:hover{
    transform: scale(1.05);
}

.playMarket{
    background-image: url('../../assets/google-play-logo.svg');
}

.usefulLinks{
    padding: 0 0 10px 0;
    list-style-type: none;
    border-bottom: 1px solid var(--border-color);
    margin-top: 10px;
}

.usefulLinks li {
    padding: 0;
    height: 35px;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.usefulLinks li a {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

.usefulLinks a:hover{
    color: rgb(100, 100, 255);
}

.burger-checkbox{
    display: none;
}

.burger-label{
    display: none;
    width: 20px;
    height: 40px;
    border-radius: 0 7px 7px 0;
    border: 1px solid var(--border-color);
    border-left: 1px solid white;
    background-color: #fff;
    cursor: pointer;
    top: 15px;
    right: -20px;
    box-sizing: border-box;
}

.burger-label::after, 
.burger-label::before{
    content: "";
    position: absolute;
    width: 60%;
    height: 2px;
    background-color: #000;
}

.burger-label::after{
    transition: .2s;
    left: 15%;
    top: 15px;
    transform: rotate(-45deg);
}

.burger-label::before{
    transition: .2s;
    left: 15%;
    bottom: 15px;
    transform: rotate(45deg);
}

.burger-checkbox:checked + .burger-label::after{
    transform: rotate(45deg);
}

.burger-checkbox:checked + .burger-label::before{
    transform: rotate(-45deg);
}

@media (max-width: 950px) {
    .sidebar-container{
        height: 100%;
        position: fixed;
        left: -1px;
        z-index: 90;
    }

    .sidebar-content{
        width: 0;
        padding: 0;
    }

    .burger-label{
        display: block;
        position: absolute;
    }

    .burger-label::after{
        transform: rotate(45deg);
    }
    
    .burger-label::before{
        transform: rotate(-45deg);
    }
    
    .burger-checkbox:checked + .burger-label::after{
        transform: rotate(-45deg);
    }
    
    .burger-checkbox:checked + .burger-label::before{
        transform: rotate(45deg);
    }

    .burger-checkbox:checked ~ .sidebar-content{
        width: 250px;
        padding: 0 10px;
    }
}