.userPage-container{
    padding: 25px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.userPage-container h3 {
    font-size: 30px;
    font-weight: 500;
    margin: 5px 0 10px 0;
    text-align: center;
}

.profile_picture{
    width: 350px;
    border-radius: 50%;
    margin: 5px 5px 0 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    aspect-ratio: 1/1;
}

.changeLink{
    text-decoration: underline;
    user-select: none;
    align-self: flex-end;
}

.changeLink:hover{
    color: red;
}

.profile-container{
    display: flex;
}

.additional-data{
    margin-left: 10px;
}

.additional-data ul{
    list-style-type: none;
    padding: 5px;
}

.additional-data ul li {
    font-size: 18px;
    margin-bottom: 10px;
}

.additional-data ul li span{
    color: #1c1c1c45;
}

.profile-container__rightSide{
    width: 100%;
    padding: 15px 0 0 25px;
}

.profile-container__about{
    width: 100%;
    margin-bottom: 15px;
}

.profile-container__about p {
    margin-bottom: 0;
    padding-left: 10px;
    font-size: 20px;
    border: 1px solid var(--border-color);
    border-bottom: none;
    border-radius: 8px 8px 0 0;
}

.profile-container__about .product-list{
    width: 100%;
    min-height: 100px;
    border: 1px solid var(--border-color);
    border-radius: 0 0 8px 8px;
    box-sizing: border-box;
    text-align: center;
}

.profile-container__products{
    width: 100%;
    border-radius: 8px;
}

.profile-container__products h2 {
    font-weight: 500;
    margin-bottom: 0;
}

.profile-container__products .product-list {
    width: 100%;
    min-height: 100px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    box-sizing: border-box;
    text-align: center;
}

@media (max-width: 767px) {
    .profile-container{
        flex-direction: column;
    }

    .additional-data{
        min-width: 150px;
        min-height: 150px;
    }

    .profile-container__rightSide{
        padding: 0;
    }

    .profile-container__leftSide{
        display: flex;
    }
}

@media (max-width: 485px) {
    .userPage-container{
        padding: 5px;
    }
}

@media (max-width: 400px) {
    .userPage-container{
        padding: 5px;
    }

    .profile-container__leftSide{
        display: flex;
        flex-direction: column;
    }

    .profile-container__rightSide{
        display: none;
    }

    .profile_picture{
        width: 250px;
        height: 250px;
        align-self: center;
    }
}