@font-face {
  font-family: 'prelo-black';
  src: url(./fonts/FontsFree-Net-Prelo-Black.ttf);
}

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'plero-black', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #f1f1f2; */
  color: #333;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
